/*
blue : #0A88FC
light_blue : #56ACFD
dark_blue : #05437D
other_blue : #086CC9
other_dark_blue : #2A557D
*/


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}

.top-nav{
    position: fixed;
    top: 0px;
    background-color: #05437D;
    width: 100%;
    padding: 10px;
    text-transform:uppercase;
    box-shadow: 0px 5px 10px #05437d3a;
}

.top-nav h1{
    color : aliceblue;
    margin: 0px;
}

.button-add{
    border-radius: 100%;
    width: 50px;
    background-color: #086CC9;
    height: 50px;
    position: fixed;
    bottom:2vh;
    right: 2vh;
    font-size: 31px;
    color: #eee;
    font-weight: bold;
    text-align: center;
}

.button-go-back{
    border-radius: 100%;
    width: 50px;
    background-color: #c90808;
    height: 50px;
    position: fixed;
    bottom:2vh;
    left: 2vh;
    font-size: 31px;
    color: #eee;
    font-weight: bold;
    text-align: center;
    display: none;
}

.button-go-back p{
    position: absolute;
    top: -30px;
    left: 14px;
}

.button-add p{
    position: absolute;
    top: -30px;
    left: 14px;
}

/* LIST CONTAINER */

.toplist{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.elementlist{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.toplistitem{
    padding-top: 15px;
    margin-top: 50px ;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 300px;
    background-color: #56ACFD;
    border-radius: 5px;
    display: block;
    box-shadow: 0px 5px 10px #555;
}

.elementlistitem{
    padding-top: 15px;
    margin-top: 50px ;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 200px;
    background-color: #56ACFD;
    border-radius: 5px;
    display: block;
    box-shadow: 0px 5px 10px #555;
}

.elmTitre{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 25px;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    text-transform:uppercase;
}

.elmTitre p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.elmTitre .rank{
    margin-right: 10px;
    font-size: 25px;
    transform: translate(0px, -3px);
    font-weight: bold;
}

.elmDesc{
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 90%;
    color: rgba(238, 238, 238, 0.747);
}

.elmButtons{
    position: relative;
    top: -167px;
    left: 6px;
    margin-left: 5px;
}

.tliImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2A557D;
    margin: auto;
}

.tliTitre{
    font-size: 30px;
    width: 50%;
    text-align: center;
    height: 30px;
    margin: auto;
    margin-top: 0px;
    color: #EEE;
    text-transform:uppercase;
}

.tliDesc{
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 90%;
    color: rgba(238, 238, 238, 0.747);
}

.tliBottom{
    color: rgba(207, 207, 207, 0.733);
    bottom: 10px;
    width: 90%;
    margin: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.tliButtons{
    position: relative;
    top: -301px;
    left: 6px;
    margin-left: 5px;
}

.createformbg{
    width: 100%;
    height: 100%;
    background-color: #77777744;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.createform{
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    margin-top: 50px;
    background-color: #56ACFD;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 5px 10px #555;
}

.createform h1{
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #EEE;
    text-transform:uppercase;
}

.createform input{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
    margin-top: 10px;
    border: rgba(85, 85, 85, 0.5) solid 2px;
    border-radius: 5px;
    color: #05437D ;
    background-color: transparent;
}

.createform textarea{
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border: rgba(85, 85, 85, 0.5) solid 2px;
    border-radius: 5px;
    color: #05437D;
    background-color: transparent;
    resize: none;
}

.createform .divbuttons{
    display: flex;
    width: 90%;
    height: 50px;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.createform .divbuttons .createButton{
    width: 120px;
    height: 30px;
    border: #05437D solid 3px;
    border-radius: 5px;
    font-weight: bold;
    color: #05437D;
    background-color: transparent;
}

.createform .divbuttons .createButton:hover{
    border: #05437D solid 3px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #05437D;
    color: #EEE;
}

.createform .divbuttons .cancelButton{
    width: 120px;
    height: 30px;
    border: #7d0505 solid 3px;
    border-radius: 5px;
    font-weight: bold;
    color: #7d0505;
    background-color: transparent;
}

.createform .divbuttons .cancelButton:hover{
    border: #7d0505 solid 3px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #7d0505;
    color: #EEE;
}


@media (max-width: 800px) {
    .createform{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    .toplist {
        flex-direction: column;
    }
    .toplistitem{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}